.glasses {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
}
.arrowupriight {
  path {
    color: white;
  }
  background-color: black;
  box-shadow: 10px 40px 30px rgba(0, 0, 0, 0.1);
}
.project_menu {
  ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 4px 7px;
    cursor: pointer;
  }

  ul {
    border-radius: 50px;
    border: linear-gradient(90deg, #181818 0%, #e0e0e0 100%);
  }
  ul li:hover {
    box-shadow: 0 2px 0px fuchsia;
    color: fuchsia;
    transition: 0.5s;
    transition: ease-in;
  }
}
.lazy-load-image-background {
  display: block !important;
}
